#history-page-card-inner-rounded-image{
    width: 45px !important;
    height: 45px !important;
    border-radius: 50% !important;
    overflow: hidden;
}

#history-page-grow-div{
    overflow-y: scroll !important;
}
#history-page-grow-div::-webkit-scrollbar{
    width: 10px;

}
#history-page-grow-div::-webkit-scrollbar-track{
    background-color: var(--hoverColor);

}
#history-page-grow-div::-webkit-scrollbar-thumb{
    background-color: #AAAAAA;
    border-radius: 10px;
}