#main-div{
    overflow-y: scroll !important;
}
#main-div::-webkit-scrollbar{
    width: 10px;

}
#main-div::-webkit-scrollbar-track{
    background-color: var(--hoverColor);

}
#main-div::-webkit-scrollbar-thumb{
    background-color: #AAAAAA;
    border-radius: 10px;
}
/* youtube-card-inner-rounded-image */
#youtube-card-inner-rounded-image{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}